html {
  background-color: #FCFAF6;
}

body {
  margin: 0;
  font-family: 'Varela', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #4050c0;
}

button {
  font-family: 'Varela', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gold {
  color: #746860;
}

.small-cdot {
  display: inline-block;
  font-size: 10px;
  opacity: 0.8;
  translate: 0;
  padding: 0 6px;
}
